[2016-06-28 17:09] gsogol opened #4 "Mobile + JavaScript"
Is the assumption that one would write wrappers or SDKs for JavaScript and native device languages to interface with the API?

In other words, is right now what's available just an API? This looks fantastic though. Thanks for open sourcing.

[2016-06-28 17:42] tariqislam commented on #4
Hi gsogol,

Currently we don't have any language-specific SDKs to interact with the API, so what's available at the moment is just the API. But please feel free to contribute, and we'll definitely look forward to that!

Thanks.

Tariq

[2016-06-29 03:53] jwtodd opened #6 "filter test source tests from coveralls"
**goal:** [coveralls](https://coveralls.io/github/intuit/wasabi?branch=develop) coverage should exclude test source code

**see:**
- [coveralls plugin](https://github.com/trautonen/coveralls-maven-plugin)
- [jacoco plugin](http://www.eclemma.org/jacoco/trunk/doc/maven.html)
- [cobertura plugin](http://www.mojohaus.org/cobertura-maven-plugin)

**note:** might need to add exclusions to jacoco, cober

[2016-06-29 04:24] jwtodd opened #7 "publish to maven central"
**goal:** [travis](travis-ci.org/intuit/wasabi) should be able to successfully push signed artifacts, SNAPSHOT and milestone, to [maven central](http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22com.intuit.wasabi%22)

**see:** #21

**steps:**
- [ ] create signing certificate
- [ ] configure repo/travis with authorized certificate

[2016-06-29 04:25] jwtodd opened #8 "support native docker"
**goal:** require native docker vs docker machine

**see:** #2

**steps:**
- [x] remove docker-machine references
- [ ] add brew support for native docker

[2016-06-29 04:27] jwtodd opened #9 "get all integration tests to pass"
**goal:** get all integration tests to pass green

**steps:**
- [ ] % ./bin/wasabi.sh start test stop

[2016-06-29 04:30] jwtodd opened #10 "upgrade to autumn latest"
**goal:** upgrade to latest [autumn](https://github.com/intuit/autumn)

**see:** #1

[2016-06-29 06:15] jwtodd opened #11 "cleanup (per internal:sonar report)"
see: feature/cleanup

[2016-06-29 06:32] jwtodd commented on #9
goal: get all integration tests to pass green

steps: % ./bin/wasabi.sh start test stop

[2016-06-29 06:33] jwtodd commented on #6
goal: coveralls coverage should exclude test source code

[2016-06-29 06:38] jwtodd commented on #7
**goal:** [travis](travis-ci.org/intuit/wasabi) should be able to successfully push signed artifacts, SNAPSHOT and milestone, to [maven central](http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22com.intuit.wasabi%22)

[2016-06-29 07:33] jwtodd opened #12 "evaluate another license/attribution plugin"
**goal:** see if we can achieve better license attribution

**see:** [license plugin](http://www.mojohaus.org/license-maven-plugin)

[2016-06-29 07:36] jwtodd opened #13 "auto-generate/publish javadoc and swagger"
**goal:** automatically publish generated docs

[2016-06-29 07:37] jwtodd opened #14 "incorporate hyrule"
**goal:** incorporate hyrule project

[2016-06-29 09:29] jwtodd opened #15 "support linux"
**goal:** driver script should be able to support
- [ ] ubuntu:apt
- [ ] centos:yum
- [x] osx:homebrew

[2016-06-29 09:34] jwtodd opened #16 "thinking about: github - ifttt - [ github, google, trello, * ]"

[2016-06-29 09:44] jwtodd opened #17 "make the bootstrap process more transparent, resilient"
**goal:** provide the ability to list what happens during bootstrap, perhaps add an unbootstrap

[2016-06-29 10:26] AndreaSuckro commented on #17
A branch for this can be found here: [feature/unbootstrap](https://github.com/intuit/wasabi/tree/feature/unbootstrap)

[2016-06-29 19:01] jwtodd commented on #17
@AndreaSuckro thoughts about a --dry-run option that is false by default yet when set (eg ./bin/wasabi.sh --dry-run bootstrap) it sets a global (eg dry_run=true) that is supported by *every* command? and each could could have an associated here-document that it echos out and returns with exit status 0 at the end of the call chain? something like, pseudo-code:

    [ $dry_run ] && foo_doc; exit 0

[2016-06-29 22:27] felixgao opened #19 "Decouple direct dependency from DateTime"
In AssignmentImpl and many other classes there is a directly dependencies on
[code]
this will make test hard and does not help create static test cases and data for the system.

abstract all date/time related operations to a separate class that can be override by a property file

[2016-06-29 23:01] iizrailevsky opened #20 "testPostEvent(com.intuit.wasabi.eventlog.impl.EventLogImplTest): failing intermittently"
testPostEvent(com.intuit.wasabi.eventlog.impl.EventLogImplTest)  Time elapsed: 0.623 sec  <<< FAILURE!
    Wanted but not invoked:
    eventLogListener.postEvent(
        com.intuit.wasabi.eventlog.events.SimpleEvent@2c95ac9e
    );
    -> at com.intuit.wasabi.eventlog.impl.EventLogImplTest.testPostEvent(EventLogImplTest.java:210)
    Actually, there were zero interactions with this mock.
    	at

[2016-06-29 23:06] jwtodd opened #21 "automate all the things"
**goal:** automate the process pipeline

- [x] travix -> maven
  - [x] add @wasabi-honeybadger as a commiter
  - [x] obtain com.intuit.wasabi [jar signing credentials](https://issues.sonatype.org/browse/OSSRH-23382)
  - [x] configure travis/maven to sign jars as wasabi-honeybadger
- [x] github -> hipchat
- [x] github -> gcal
- [x] github -> trello

[2016-06-29 23:17] jwtodd opened #22 "testSystem(com.intuit.wasabi.eventlog.EventLogSystemTest) : sporadic failure"
**goal:** ELSTest.testSystem() flaps

**status:** @Ignore ELSTest

[2016-06-29 23:42] wasabi-honeybadger commented on #7
addressed in #21

[2016-06-29 23:42] #7 closed

[2016-06-30 01:18] jwtodd opened #24 "test : gh->trello"
ping

[2016-06-30 01:37] jwtodd commented on #24
it worked :)

[2016-06-30 01:37] #24 closed

[2016-06-30 01:39] jwtodd opened #25 "test: gh -> hc"

[2016-06-30 02:57] #25 closed

[2016-06-30 03:01] wasabi-honeybadger opened #26 "automate *all* the things"
@krushit what say you?

go checkout the trello board :)

[2016-06-30 03:03] #26 closed

[2016-06-30 03:04] jwtodd opened #27 "automate *all* the things"
@krushit check out trello :)

[2016-06-30 03:08] #27 closed

[2016-06-30 04:36] jwtodd opened #28 "test: gh -> gc"
test

[2016-06-30 04:42] #28 closed

[2016-06-30 07:25] wasabi-honeybadger commented on #6
@iizrailevsky i think we have unit test parity. concur?

[2016-06-30 07:55] jwtodd commented on #16
see #21

[2016-06-30 07:55] #16 closed

[2016-06-30 08:00] jwtodd commented on #19
q: for purposes of unit tests? integration tests? or both?

for unit tests mocking/injecting cold be an option?

[2016-06-30 10:26] jwtodd commented on #21
ping

[2016-06-30 10:38] jwtodd opened #29 "test"

[2016-06-30 10:38] #29 closed

[2016-06-30 17:50] iizrailevsky commented on #6
@jwtodd +1 we're good here now! 👍  Unit test coverage matches internal sonar coverage. This is now complete.

[2016-06-30 17:50] #6 closed

[2016-06-30 18:02] iizrailevsky commented on #14
Need to finalize the recommendation of:

1. Open sourcing Hyrule as a separate repo, or
2. Open sourcing Hyrule as a Wasabi module

[2016-06-30 21:06] jwtodd opened #30 "test"

[2016-06-30 21:12] jwtodd commented on #30
foo

[2016-06-30 21:12] #30 closed

[2016-06-30 21:42] jwtodd commented on #10
merged

[2016-06-30 21:42] #10 closed

[2016-06-30 22:30] felixgao commented on #19
a: for purpose of unite tests.  mocking/injecting is not an option if the downstream code uses local variable that is created via new Date()

[2016-07-01 01:36] jwtodd commented on #19
ok for unit tests ... we can mock Date, no?

feels doable to me.

[2016-07-01 08:19] jwtodd opened #32 "scrub legacy names"
**goal:** legacy name/package/etc need to be scrubbed

**see:** feature/scrub-legacy

- [X] [ws]/contrib/client-demo/error.html
- [x] [ws]/contrib/hello-world/app/index.html
- [x] [ws]/modules/api/src/test/java/com/intuit/wasabi/api/ExperimentsResourceTest.java
- [x] [ws]/modules/eventlog/README.md
- [x] [ws]/modules/functional-test/README.md

[2016-07-01 08:36] jwtodd commented on #32
@iizrailevsky @longdogz can you look into scrubbing '[jJ]abba' from the above listed contrib files?

it was obvious to me as to how to go about this.

i took on the other listed files.

@krushit i assume the above list captures the matches you found?

[2016-07-05 21:56] krushit commented on #32
$ egrep -r -i "abntest|jabba" .
./contrib/client-demo/error.html:	<script type="text/javascript" src="js/jabba-test-app/app.js"></script>
./contrib/client-demo/error.html:	<script type="text/javascript" src="js/jabba-test-app/controllers/mainController.js"></script>
./contrib/hello-world/app/index.html:

[2016-07-05 22:05] longdogz commented on #32
OK, I took care of the hello-world problem.  The client-demo one is not code I know, and looks like it might be referencing non-existent files.  Can you look at it @iizrailevsky @tariqislam ?

[2016-07-05 23:25] tariqislam commented on #32
@longdogz @krushit I'm looking at the client-demo ones.

[2016-07-06 05:12] jwtodd commented on #32
Resolved

[2016-07-06 05:12] #32 closed

[2016-07-07 21:06] felixgao opened #38 "remove sed from scripts"
most web projects do not have sed in their scripts.  let's try to remove it.

[2016-07-08 08:01] jwtodd commented on #38
i don't understand the premise, in that a simple google search turns up dockerfile+sed a plenty:

  https://www.google.com/search?q=dockerfile+sed&oq=dockerfile+sed&aqs=chrome..69i57.2036j0j1&sourceid=chrome&ie=UTF-8

what is the real concern?

i personally do not feel this is a significant concern.

very open to improvements, i just would like to understand the concrete concerns/objectives.

thou

[2016-07-08 10:56] Faedrivin commented on #20
The problem is here I assume:

    eventLog.postEvent(simpleEvent);
    // wait for the thread to actually post it
    Thread.sleep(600);

Maybe adjusting the [sleep timeout](https://github.com/intuit/wasabi/blob/206656bf44fd01af133f5335aa3b223339a4a5a5/modules/eventlog/src/test/java/com/intuit/wasabi/eventlog/impl/EventLogImplTest.java#L209) will fix this. The `EventLogImpl`'s main loop just poll

[2016-07-12 08:13] AndreaSuckro commented on #17
After taking a look at everything we install, I am not so sure anymore whether the uninstall command is a good thing (e.g. bash, git, maven ...). Some dependencies are pretty fundamental and a command like this would seriously screw up the system of the user when used without caution. I now added a super simple list-dependencies command, I think that is a first step - your suggestion sounds even b

[2016-07-13 08:17] jwtodd commented on #17
i concur

i will see what i can do to spike in one example of a --dry-run here-doc as an example

[2016-07-14 18:44] longdogz commented on #8
Resolved

[2016-07-14 18:44] #8 closed

[2016-07-14 19:13] jwtodd opened #42 "upgrade to autumn.latest"

[2016-07-14 20:30] wasabi-honeybadger commented on #42
abandoned

[2016-07-14 20:30] #42 closed

[2016-07-14 21:25] felixgao commented on #38
Just because people are doing it does not mean it is the right thing to do. The concern is docker uses something called aufs which is a write once file system.  Have sed in the script will cause docker to generate a new layer and the more layer there is in the docker image the slower it is and the more file system resource it takes.  Also having sed means you are not make the image completely immu

[2016-07-15 00:34] wasabi-honeybadger commented on #21
always be close'n

[2016-07-15 00:34] #21 closed

[2016-07-15 03:41] iizrailevsky commented on #38
@felixgao Mind creating a pull request with proposed changes to the script(s)? As we had discussed, we own these together as Wasabi committers. If you see areas of improvement, you're empowered to work on the updates to the artifacts and propose them as a PR.

[2016-07-15 07:44] wasabi-honeybadger opened #45 "Failed tests: testRunFinally(com.intuit.wasabi.eventlog.impl.EventLogImplTest): (..)"

[2016-07-15 20:42] wasabi-honeybadger opened #46 "auto provision milestone build"
see: https://issues.sonatype.org/browse/OSSRH-23670

[2016-07-21 16:21] Faedrivin opened #49 "wasabi.sh and container.sh require bash 4.x"
When running `./bin/wasabi.sh start:cassandra,mysql` (or any other start sequence) I get syntax errors:

    ./bin/wasabi.sh: line 317: syntax error near unexpected token `&'
    ./bin/wasabi.sh: line 317: `    start) command="start:cassandra,mysql,wasabi";&'

I am using zsh (version 5.2) but also tried to run it with the vanilla OSX bash shell (version 3.2.57(1)-release from 2007), same error app

[2016-07-28 18:50] Sicarus opened #54 "Deploying at Scale"
Is there a way one can deploy at scale using docker and linux?
I'm assuming this is not how intuit runs it in production, but would like to setup something similar with our own standalone mysql / cassandra instances. Is there any in depth guide one can read?
Thank you!

[2016-07-29 18:08] tariqislam commented on #54
Hi Sicarus,

Glad you're thinking about deploying at scale! Right now we don't use docker to deploy. We don't have any deployment documentation, since this is usually specific to company needs and preferences, but perhaps we can start with the overall architecture diagram in our user guide:

https://intuit.github.io/wasabi/v1/guide/index.html#overall-architecture

A couple of thoughts on the diagr

[2016-07-29 18:09] Faedrivin commented on #4
Hi @gsogol ,

what do you expect from such an SDK? I created a small [spike](https://github.com/Faedrivin/wasabi/tree/develop/contrib/SDK/JavaScript). You can configure an application and a server in the `wasabi.config.js`, create an AB object (take a look at the `index.html`), retrieve user assignments (`abtest.assignment(experiment, user, callback)`) and register event listeners for posting acti

[2016-07-30 03:56] shoeffner opened #55 "Experiment segmentation rules "contains" etc."
Currently part of the segmentation rule feature in the UI is broken: After we rolled back Hyrule last year it went unnoticed that some of the features, e.g. segmentation rules like "contains", are not supported by the version we use.

To do: Get the newer Hyrule version performance tested and built back into the system (and open source it?) or remove those rules from the UI rule builder.

[2016-07-30 03:57] Faedrivin commented on #49
After the recent rollback, this is no longer a real issue. But the scripts are under surveillance.

[2016-07-30 03:57] #49 closed

[2016-08-01 23:24] jwtodd commented on #46
status: resolved

fix: narrow plugins in top-level-pom wrapped by pluginManagement

[2016-08-01 23:24] #46 closed

[2016-08-02 02:22] Faedrivin commented on #4
Hi again @gsogol ,

there is also [wasabi.js](https://github.com/intuit/wasabi/blob/d52de577f0aa6c26727eba4e72e66969adc762fb/modules/ui/app/scripts/wasabi.js) which already allows lots of functionality. For a demonstration see our [hello world demo](https://github.com/intuit/wasabi/tree/d52de577f0aa6c26727eba4e72e66969adc762fb/contrib/hello-world) which contains a simple usage example.

Is that wh

[2016-08-04 10:13] jwtodd opened #56 "contrib a simple single-node terraform deploy script"
goal: add a simple aws terraform deployment script

- [ ] assume package (eg wasabi.rpm) is built local
- [ ] instantiate single ec2 node, reasonably locked down and durable storage not required
- [ ] yum install: java, cassandra, mysql (may not need runit)
- [ ] rpm install wasabi
- [ ] start wasabi
- [ ] open external port
- [ ] test via % ./bin/wasab.ish -e IP:8080 test
- [ ] destroy instance
-

[2016-08-05 01:58] dashk opened #57 "Package & Deploy Wasabi - "No such file or directory" after typing vagrant's password"
Hello!

I am trying use wasabi's packaging script, but am not having much luck.  Could I get some help?

1) Packages are not built
Upon checking out the code, I typed the following command to build the package:

`./bin/wasabi.sh package`

... as outlined in https://intuit.github.io/wasabi/v1/guide/index.html#package-and-deploy-wasabi-at-scale.

The script runs and doesn't appear to show "Package c

[2016-08-05 05:56] jwtodd commented on #57
ello @dashk :)

great writeup!

sorry about the troubles.

my hunch, based on the above, is that virtualbox has a sticky dns entry as a result of a network switch (eg vpn on/off, work/home ... yeah i have suffered from this as well). vagrant uses virtualbox. can you try the following:

[code]

the objective is to remove the discovered hosts, via "vboxmanage hostonlyif remove vboxnet0 >/dev/null 2>

[2016-08-10 03:14] Faedrivin commented on #57
Hey @dashk,

would you mind trying out #58 with `./bin/wasabi.sh build package` and see if it solves this issue?

@jwtodd and I were able to package it this way, a third opinion is greatly appreciated.

Thanks
Sebastian

[2016-08-12 09:26] jwtodd commented on #57
@dashk PR #58 has been merged, the principle changes being: using docker-natve vs docker-machine, as such removed dependencies on virtualbox and vagrant.

[2016-08-13 21:02] dashk commented on #57
It's working!  Thank you!!!

[2016-08-13 21:02] #57 closed

[2016-08-17 04:52] jwtodd commented on #57
great to hear @dashk :)

let's got after any remaining issues!

onwards and upwards.

[2016-08-18 18:16] vinodtalati opened #68 "How to run on Linux"
Hi
I was trying to get the package deployed on linux. I got wasabi.sh to build the rpm and deb packages and the tried installing on ubuntu with "dpkg -i". Cant seem to find it on the system after installation.

Are there any docs available on how to get this configured and working?

[code]

[2016-08-18 19:24] jwtodd commented on #68
hey @vinodtalati -

  welcome to wasabi :)

  firstly there were some updates to the project specifically in this area recently to let's ensure you have a fresh 'git pull' of the develop (ie default) branch.

  ok, i haven't used dpkg for awhile now. we do deploy the rpm build internally using this same process.

  the app should, by default, install into the /usr/local/wasabi-[version] directory.

[2016-08-18 21:12] vinodtalati commented on #68
Thanks @jwtodd That helped a lot. I got the server running and talking to cassandra & mysql in my Ubuntu VM. Working on getting the UI running now. Keeping notes on it all so will try and update the docs when done.

[2016-08-18 22:43] jwtodd commented on #68
*suhweet*

love it!

keep going buddy!

btw, we are going to gen an rpm/deb file for the wasabi-ui as well rsn ... if you look in under the [ws]/modules/ui/bin you will see an fpm.sh script ... that is  not unlike the one in [ws]/bin/fpm.sh

[2016-08-18 22:47] iizrailevsky commented on #68
Great @vinodtalati!!

By the way, feel free to join on Gitter chat: https://gitter.im/intuit/wasabi (invitation sent to your email)

[2016-08-19 02:14] shoeffner commented on #45
resolved in #61

[2016-08-19 02:15] shoeffner commented on #22
resolved in #61

[2016-08-19 02:15] #22 closed

[2016-08-19 02:15] shoeffner commented on #20
resolved in #61

[2016-08-19 02:16] #4 closed

[2016-08-19 02:17] shoeffner commented on #4
This seems to be no longer of interest.

[2016-08-19 02:18] shoeffner commented on #9
Was this achieved in #58 ?

[2016-08-22 23:27] shoeffner opened #71 "Windows batch scripts"
Windows batch scripts are currently under development in [feature/windows](https://github.com/intuit/wasabi/tree/feature/windows). They won't support docker native as we don't have access to Hyper-V on machines other than Windows 10.

We will try to follow a similar syntax as we have for the bin/wasabi.sh but for a start the scripts won't be as feature rich as the unix ones are: for now our goal i

[2016-09-10 02:20] aqua0ps opened #79 "wasabi package doesn't work without JAVA_HOME setup"
You have to setup the JAVA_HOME additionally to make it work in OSX
export JAVA_HOME=`/usr/libexec/java_home`

[2016-09-10 05:01] jwtodd commented on #79
@vinodtalati the following lines in [ws]/bin/fpm.sh fail on osx where users do not specify JAVA_HOME:

[code]

q: are these lines required for all supported environments?

if so, then for OSX we should set the default value to `/usr/libexec/java_home`

q: if we do have to set JAVA_HOME then does `/usr/libexec/java_home` exist on linux?

i am hoping we can remove explicitly setting JAVA_HOME :)

[2016-09-10 06:07] shoeffner commented on #71
Resolved expect for package in #78 .

[2016-09-10 06:24] shoeffner commented on #68
Since the feature is implemented I guess we can close this issue now.

[2016-09-10 06:24] #68 closed

[2016-09-12 17:45] vinodtalati commented on #79
@jwtodd This should be removed.

The path /usr/libexec/java_home doesn't exit on linux. This is only for mac.
The Ubuntu patch we added does everything required for Linux inside the bootstrap method (in wasabi.sh). For Mac the JAVA_HOME was never set anywhere. It could be added to bootstrap as well.

In any case the lines you mentioned in fpm.sh should not be there.

[2016-09-12 18:06] jwtodd commented on #79
ok thx @vinodtalati i will spin up a PR

much appreciated!

[2016-09-12 18:36] #79 closed

[2016-09-14 17:36] shoeffner commented on #9
As of https://github.com/intuit/wasabi/pull/78#issuecomment-246445164 I consider this solved.

[2016-09-14 17:36] #9 closed

[2016-09-14 17:37] #54 closed

[2016-09-14 17:42] shoeffner commented on #38
@felixgao do you mind taking a look at https://github.com/intuit/wasabi/pull/78/files#diff-a02022c11f2de6a41f82f8a76f5e0d3cR19 ? It still contains sed in the Dockerfile but much fewer layers around it. Otherwise how should we approach this?

[2016-09-14 18:34] vinodtalati opened #82 "package installation error on Ubuntu"
I am seeing some errors when trying to install the .deb packages on Ubuntu.

wasabi-main-*.deb complains about missing dependencies: null and object.

wasabi-ui-*.deb complains about missing folders. One of the paths in the script is incorrect and needs updating. Here is the ui.deb file installation log:

[code]

After installation apt is also broken. If we try to install any packages after then a

[2016-09-14 20:26] jwtodd commented on #82
ok @vinodtalati ... will work to verify installation against a local ubuntu container soon.

thx for the thorough writeup compadre :)

[2016-09-15 23:49] vinodtalati commented on #82
@jwtodd I poked around a bit and seemed to be an easy fix, so I fixed it. :)
Pls see my pull request.

[2016-09-16 23:58] shoeffner commented on #56
Closing this, #80 was merged.

[2016-09-16 23:58] #56 closed

[2016-09-16 23:59] shoeffner commented on #82
Thanks @vinodtalati , we pulled it in. Worked well on our single node deployment!

[2016-09-16 23:59] #82 closed

[2016-09-19 23:54] shoeffner opened #85 "Assignment count not shown for experiments with just one bucket"
http://localhost:8080/#/experiments/{experimentID}/false/ does not show assignment counts in the right column when the experiment only has one bucket.

[2016-09-20 00:08] shoeffner opened #86 "./bin/wasabi.sh build -- unit tests by default or not?"
As I had a heated and highly opinionated discussion about this with @jwtodd today, I wanted to bring this up in a more objective context.

As of mid August, `./bin/wasabi.sh build` wouldn't run unit tests anymore. It's not possible to turn them on other than either using `./bin/wasabi.sh test:{MODULE}` or using maven directly.

A proposed simple fix is to apply the --verify flag to it as well and

[2016-09-23 20:48] sudheerkethireddy opened #88 "creating an event (impression) for an unassigned user gives a 201 repsonse code"
I have created an experiment within an app. I tried creating an impression for a user without assigning the user to any bucket. The Api gives 201 as response code rather than throwing some warning/error saying that the user is not assigned.

Steps to re-produce.
1) create an App (if not existing)
2) create an experiment within the application.
3) create buckets
4) do a Post call to submit an event

[2016-09-28 17:07] sudheerkethireddy opened #93 "User is able to create an experiment with start date and end date in the past"
User is able to both create and end experiment in the past date. Observed this behavior both across UI and Rest End Points.

Steps To Reproduce:
1) Create an experiment with start date and end date in the past (both from UI and Rest).

[2016-10-03 16:18] shoeffner opened #95 "Dockerfile explicit"
As [brought up](https://github.com/intuit/wasabi/pull/78#pullrequestreview-1985768) by @felixgao , our Dockerfile as of now is auto-generated and copies from a magically unknown directory (`.`).
We should make it more explicit and either move it directly to modules/main or the root directory.

[2016-10-05 22:36] felixgao opened #98 "Dockerized cassandra cannot be connected from external cqlsh"
Using docker for mac 1.12.1

[code]

[code]

### on mac:
[code]

[2016-10-06 16:33] shoeffner commented on #98
It seems to be a [well known][jira] problem with cqlsh and our old cassandra version (and it's "resolved", although I don't really understand the solutions listed there).

You can downgrade your cqlsh (`pip uninstall cqlsh && pip install cqlsh==4.0.1`) to get it to work though.

    Connected to Test Cluster at localhost:9160.
    [cqlsh 4.0.1 | Cassandra 2.1.15 | CQL spec 3.1.1 | Thrift protocol

[2016-10-06 20:03] iizrailevsky opened #100 "Docker does not start after "wasabi.sh bootstrap" with Docker version upgraded"
I did "wasabi.sh bootstrap" which upgraded my Docker version. However Docker was NOT started automatically when running "wasabi.sh start" and I got "sleep" messages instead:

[code]

[2016-10-06 20:19] jwtodd commented on #100
see: feature/bug-osx-docker-start

[2016-10-06 21:50] iizrailevsky commented on #100
Fixed now! 👍  @jwtodd @shoeffner

[2016-10-06 21:50] #100 closed

[2016-10-07 16:25] felixgao commented on #98
interesting.  Can you also share the jira link?  I would like to read the comments chain

[2016-10-07 17:12] sudheerkethireddy opened #103 "Improper Error Messages while Trying to change state of bucket"
Minor Bug: When I am trying to update the state of a bucket with some Junk value,it gives an error message which is not intuitive and it doesnt tell  as to what are availalbe values. It just points to some dev code.

sample error message: java.lang.IllegalArgumentException: No enum constant com.intuit.wasabi.experimentobjects.Bucket.State.ASDG

[2016-10-08 04:29] sudheerkethireddy opened #105 "Handling of control bucket validation code"
Where it is happening: REST Layer
Scenario: I have created (POST) an experiment and assigned two buckets (POST) to it with both of them having isControl parameter set to true.(It did accept them and i verified it using a GET on the experiment bucket, both the control parameters set to true for both buckets). When I then started experiment (PUT), I got an error saying

Question: It looks like the

[2016-10-08 22:27] shoeffner commented on #55
Resolved by #90

[2016-10-08 22:27] #55 closed

[2016-10-08 22:28] shoeffner commented on #17
Maybe this will help [homebrew-bundle](https://github.com/Homebrew/homebrew-bundle)?

[2016-10-10 23:55] felixgao commented on #105
I think this is because when we create buckets, people can create multiple buckets and only during the start of the bucket the verification of the validity of the experiment is triggered.  It sounds to me it is ok, would like to hear from @iizrailevsky or @calvinwma on this.

[2016-10-10 23:56] felixgao commented on #103
can you also include the curl call to result in this error?

[2016-10-10 23:57] felixgao commented on #93
I felt the start date in the past is ok, but we should add verification on end date is in the current date or future.

[2016-10-11 05:54] shoeffner commented on #85
Resolved by #99 .

[2016-10-11 05:54] #85 closed

[2016-10-11 06:02] sudheerkethireddy commented on #103
sure @felixgao Below is the rest call.

http://localhost:8080/api/v1/experiments/1a0e9dea-d7a4-4cbc-82bc-91e378119124/buckets/bucket1/state/ASDG

[2016-10-12 05:04] shoeffner commented on #98
Oh dear, I did not read that I missed out on that: https://issues.apache.org/jira/browse/CASSANDRA-9467 and (linked therein) https://issues.apache.org/jira/browse/CASSANDRA-12150

[2016-10-12 17:45] sudheerkethireddy opened #106 "Regarding http status code while adding expired experiments as exclusive experiment"
Layer: REST Layer
Issue:
## scenario 1: Adding 1 expired  experiment,  When I am trying to add an expired experiment to a new experiment as an exclusive experiment, I got an http status code of 201 though in the response body it says failure (as the experiment is expired).

## scenario 2: Adding 1 expired, 1 regular experiment, When I am trying to add two experiments (1 expired and other non-expir

[2016-10-18 23:32] sudheerkethireddy opened #116 "Reg state of Expired Experiment"
Question: My Question is do we represent the state of an expired Experiment. I have an experiment that is expired, but when I do a GET on the experiment, the state is being shown as "RUNNING". When I am trying to get all the assignments on the expired experiment, its showing as "EXPERIMENT_EXPIRED".so I wanted to know how are we capturing the experiment state.

[2016-10-27 06:04] jwtodd opened #118 "add deploy/test/report script"

[2016-10-28 06:19] jwtodd opened #119 "add the ability to version feature branches"

[2016-11-07 17:18] jwtodd commented on #119
merged

[2016-11-07 17:18] #119 closed

[2016-11-07 17:19] jwtodd commented on #118
merged: see [ws]/bin/jenkins.sh

[2016-11-07 17:19] #118 closed

[2016-11-07 17:20] jwtodd opened #125 "run-and-report integration tests on travis"

[2016-11-16 20:44] jwtodd opened #132 "consider leveraging sonarqube.com + travis"
see:  https://sonarqube.com https://docs.travis-ci.com/user/sonarqube

[2016-11-18 00:13] sudheerkethireddy commented on #105
ok makes sense @felixgao. @iizrailevsky  and @calvinwma  any thoughts on this ??

[2017-01-11 14:53] djMax opened #150 "No sudo in scripts"
I don't think the sudo should be in the bootstrap scripts. If the script needs sudo, run the whole thing as sudo. Right now, you can't use the bootstrap in the docker base ubuntu image because it wants sudo, which (a) doesn't exist by default and (b) isn't really relevant there.

[2017-01-11 18:40] djMax commented on #150
I think I see what's going on now - that the bootstrap script manages its own docker. That's fine I guess, but for real implementations, that's not the way we would prefer. I will build my own wasabi container and use mysql from (say) AWS and a separate cassandra cluster, etc. So I need some way of building that wasabi image. I can tease out what's necessary by looking at the bootstrap, but I'd ar

[2017-01-12 04:28] jwtodd commented on #150
@djMax -

i could use your definition of "for real implementations?"

for me, this is quite real-and-legit as is :)

the bin scripts [ wasabi.sh, bootstrap.sh, etc ] work quite well for local dev which is the principle intent, in addition to invokable under a build environment like jenkins-or-travis ... which are both in use today.

now, a "package" command was introduced to build rpm-and-deb buil

[2017-01-12 04:38] djMax commented on #150
Wasn't trying to be overly harsh - just that it's clearly dev-focused and we want to deploy in kubernetes. The whole "build on ubuntu deploy centos" thing is weird. What I'd really prefer (and am working on) is an image in docker hub

[2017-01-12 04:46] djMax commented on #150
Also, why not just use docker compose for Cassandra + MySQL + wasabi?

[2017-01-12 19:07] jwtodd commented on #150
all good.

yeah it originated from purely for dev needs and still suffices. early versions were on vagrant/virtualbox and started migrating to docker early on. i was *amped* when docker native emerged as it sped things up and resolved a number of sticky wicket issues, namely sticky dns resolution when migrating networks, etc.

to open source #wasabi much had to be aligned, locked down, etc. docker

[2017-01-12 19:11] jwtodd commented on #125
@djMax checkout this one .. it is a bit thinly described here but feature/travis-test branch [ https://github.com/intuit/wasabi/tree/feature/travis-test ] *almost* runs completely on travis including starting up docker instances for integration testing.

it is just the standard-out is too big for travis threshold and as such the job is killed.

note: the feature/travis-test is a *hack* branch to m

[2017-01-12 19:13] djMax commented on #150
Definitely. I started by making a docker build-box, basically it runs a bit of bootstrap on its own and then calls build. Then will have it call container and use the docker file as it does now with docker-in-docker to build the final image. Then we can see how to distribute that down to the scripts if that's what's desired.

[2017-01-13 01:24] jwtodd commented on #150
beautiful :)

loosely related is #125 feature/travis-test ... which is really a proto to additionally deploy-local  (not cluster) docker instances and run wasabi.sh test (aka functional-tests) against said local deploy, collect jacoco-it.exec and report unit+integration tests to sonar.

i'd love to see these concerns leverage one another :)

then build out to a cluster deploy.

[2017-01-13 20:13] djMax commented on #150
Closing in favor of the PR.

[2017-01-13 20:13] #150 closed

[2017-01-13 20:41] djMax opened #156 "Production replication/HA?"
What is the intent for a highly available high capacity install? Obviously cassandra and mysql will do their own thing, but can we just run however many wasabi-main containers as we want and they don't need to know about each other outside of being behind an elb?

[2017-01-13 21:55] djMax opened #157 "How to handle feature rollout and bucket movement?"
I understand generally how the bucket assignment stuff works, I think, but I wonder how one handles a test that morphs over time. So let's say I want to rollout feature X slowly to my user base. I make an experiment that assigns 5% of the users to the new feature. Should this be a sample rate of 5%, or a sample rate of 100% with a bucket at 5% and a bucket at 95%?

Now, I think things are going we

[2017-01-18 21:43] jwtodd commented on #156
@djMax awesome!

when i was going after a wasabi docker image build/publish i aimed to add this as a post-process to a successful travis-ci build/test/integration-test cycle ... which is when i started diving in on the later issue of adding the run of wasabi:integration-tests against a locally compiled, unit-tested and (locally) deployed wasabi container.

and only publishing said images once prov

[2017-01-19 19:37] mhoad opened #163 "Accessing the UI"
Hi,

Sorry I know this is going to be an incredibly stupid question but I am much more marketer than I am developer so please bear with me here :)

I've gone ahead and run the appropriate install commands on a brand new Ubuntu 16.04 x64 VPS (with Google Cloud if that is of any relevance).

Everything seems to be working well so far and running curl -i http://localhost:8080/api/v1/ping in my SSH te

[2017-01-19 20:25] mhoad commented on #163
Just wanted to post a quick update / feedback.

Updating the firewall rules to allow connections to port 8080 did indeed help. However it gets me this:
<img width="359" alt="screen shot 2017-01-19 at 3 23 33 pm" src="https://cloud.githubusercontent.com/assets/133005/22123843/54732d52-de5b-11e6-96ce-efd69593c45f.png">

Still no UI unfortunately. Also just in terms of a possible update to the bootst

[2017-01-19 20:35] longdogz commented on #163
I think you are on the right track, that it is access to the machine from outside the machine that is the problem. A couple things to try would be to curl against http://localhost:8080 from your ssh terminal, just to check if the UI is in the right place and being served. If that seems ok (you get back some HTML), I would try the same ping URL from the browser, replacing localhost with the ip you

[2017-01-19 20:38] mhoad commented on #163
@longdogz Thanks for the reply. Can confirm that using curl  http://localhost:8080 shows the same HTML as shown in the picture above (i.e. a directory containing swagger) but can't seem to find the actual UI at all unfortunately.

[2017-01-19 20:47] longdogz commented on #163
Ok, I'll have to do some investigation to see why you might be getting that. What commands did you use for the install and were there any errors?

[2017-01-19 20:55] mhoad commented on #163
Full extend of commands on a brand new Ubuntu 16.04 x64 VPS are as follows:

[code]
Followed by testing that it was generally working using:
`% curl -i http://localhost:8080/api/v1/ping`

Opened up the 8080 port on the machine and attempted to visit the URL in the browser on port 8080 when I just got the swagger directory

Once more attempted to reboot the VPS and then rerun
`% ./bin/wasabi.sh sta

[2017-01-19 22:22] longdogz commented on #163
So, you did the build on the Ubuntu machine.  To build the UI, that would need to, at some point, do a command like this:

cd ./modules/ui && npm install && bower install && grunt build

Which is really four separate commands.  So you cd to the modules/ui directory within your clone of the wasabi repo.  In there you run the command npm install.  That should use the package.json file (in that direc

[2017-01-19 23:15] AndreaSuckro commented on #163
Maybe this helps: `sudo apt-get install build-essential`. I found a stackoverflow question that at least looked kind of similar to your error and is also dealing with an ubuntu system: [npm failed](http://stackoverflow.com/questions/14772508/npm-failed-to-install-time-with-make-not-found-error)

[2017-01-20 14:11] djMax commented on #157
Crickets on this one? I guess maybe it's square peg round hole...

[2017-01-20 14:51] mhoad commented on #163
Just as another update. I made sure to run the following first

[code]

This does get me a working login screen at http://$IP_OF_MY_VPS_BOX:8080/dist

However, attempting to sign in gets me this:
<img width="328" alt="screen shot 2017-01-20 at 9 49 25 am" src="https://cloud.githubusercontent.com/assets/133005/22153548/cde7e106-def5-11e6-96fb-9d544a9bd925.png">

Despite having a functional server a

[2017-01-20 16:02] longdogz commented on #163
OK, I actually probably know this one.  😄

The UI is a JavaScript, single-page app written in Angular JS.  It uses REST APIs in the Wasabi server to implement the UI, e.g., to retrieve a list of experiments, create experiments, etc.  In order to do that, it needs to know the URL of the REST server.  It determines that from a configuration file.  That file is at (in the deployment) at /usr/local/<w

[2017-01-20 18:03] longdogz commented on #163
FYI, one of the engineers here reproduced part of your problem, that is, the /dist thing.  Basically, you should get the UI when you go to http://localhost:8080 and not at http://localhost:8080/dist/  .  We are investigating why that is happening.  There would still need to be a change in the config.js file for the UI to work, but it still won't work even if you make that change because of the /di

[2017-01-20 18:26] longdogz commented on #157
Sorry for the crickets, @djMax .  😞

You are not the only one interested in a system to solve this problem.  The Wasabi system was developed (and we think works pretty well) for traditional A/B testing, that is, you have a control and one or two experimental buckets and then you put some people into the experimental buckets and compare their success with the tested feature versus the control (or e

[2017-01-23 22:41] Aelmgren commented on #163
Ran into the same issue, also using ubuntu 16.04 on google cloud, but was able to fix it with one file change and a rebuild.

You'll need to change the 'apiHostBaseUrlValue' in /modules/ui/constants.json to your server ip, since it's set as default to "http://localhost:8080/api/v1" which causes the angular app to send all requests to localhost rather that the public server ip. Then you can rebuild

[2017-01-24 18:19] longdogz commented on #163
Thank you for describing so clearly how to change the backend API setting
for the UI, which is necessary when you are not accessing the server vial
localhost:8080 , the default.

The main reason we use the constants.json and a build to configure the
backend API is so that you have the flexibility to not be serving the UI
from exactly the same location as the REST APIs.  For example, you might
want

[2017-01-29 13:14] djMax commented on #157
Thanks for this- very informative. It does mean, I think, that you can only REDUCE the rollout by the size of a bucket. I.e. You might want five 5% buckets to get 25 so you can remove one to get to 20%. I suppose the alternative is to use the payload to control what a bucket means - i.e. Make 20 buckets of 5% and just change the meaning to go in or out of the test. In both these cases it makes out

[2017-01-29 13:16] djMax commented on #156
So are the wasabi containers stateless? Can I just use an ELB across a number of them to provide HA and scale? We're going to use wasabi with tens of millions of monthly actives so I want to get ahead of scaling issues

[2017-01-30 23:54] longdogz commented on #157
I guess I might not fully understand your use case.  What most people who've wanted something like this wanted was a way to control and INCREASE rollout.  That is, start with 5%, then 10%, and eventually all users.  Is that what you want to achieve?

In order to do that, you only really need two active buckets.  One is "Control" or "People not in the test".  The other can be called "Test".  Your c

[2017-01-31 03:59] djMax commented on #157
Sometimes a feature rollout could go wrong, and you'd want to reduce the people receiving the feature. So it sounds like from what you're saying, even this option isn't workable with wasabi. It wouldn't really make sense to build servers beefy enough to handle repeated 10 million+ deletes just to work around a "design mismatch..."

I think the other option is to fully partition the set up front -

[2017-01-31 16:22] longdogz commented on #157
Actually, I guess so!  I hadn't thought of that, but it should work.  All users will get distributed among the 20 buckets and then you can just turn on or off your feature by modifying the payload.  Interesting solution.

We also might look into what it would take to do the emptying of buckets in a different way that wouldn't have the potential of taking the system down.

[2017-02-03 19:57] djMax commented on #157
Great to hear there might be some movement here. What I'm doing at the moment is actually fronting wasabi with my own service. If an experiment is a "feature flag," I'm going to treat it differently. I want to mark the experiment in such a way that it's a "non-assigned experiment." For these, I will just pull the bucket information and use a mod/ring buffer approach to uniquely assign each visitor

[2017-02-13 21:44] djMax opened #179 "Cassandra connectivity is challenging"
The docs on this could be a lot better. I'm getting gobs of this error trying to use a 3 node cassandra cluster in Kubernetes on aws:

[code]

[2017-02-13 21:47] djMax commented on #179
I have some suspicion this is a version problem. Should wasabi work with the latest protocol?

[2017-02-13 23:24] djMax opened #180 "mysql super user? Why?"
https://github.com/intuit/wasabi/blob/develop/bin/container.sh#L209

`grant all on *.*...`

Why does wasabi need that?

[2017-02-13 23:25] djMax commented on #180
Amazon RDS doesn't allow that command, and I end up with this less-than-useful error in the logs:

[code]

[2017-02-13 23:34] djMax commented on #180
This fixes the problem for posterity, but I still don't like the line...

https://techtavern.wordpress.com/2013/06/17/mysql-triggers-and-amazon-rds/

[2017-03-07 13:22] esprush commented on #163
Ran into the issue where UI was appearing in http://localhost:8080/dist instead of http://localhost:8080.

following change will fix it.(https://github.com/intuit/wasabi/pull/194)
"wasabi.sh build" must be run once after making this change.

[2017-03-20 15:40] ptrwtts opened #204 "Documentation for how to set user attributes"
Hi, we're evaluating using Wasabi, and there's one thing I haven't been able to figure out from the docs. If we want to limit an experiment to users from CA for example, how do we let Wasabi know which users these are? Is it:

a) Set it in advance, via an API call?
b) Looked up from our database during assignment?
c) Passed from the client in the assignment API call?

While digging through the Jav

[2017-03-20 22:49] sudheerkethireddy opened #205 "Improper response code/message for user trying to record an event(Action/impression) whose userID length is greater than 200"
the wasabi API doesn't throw proper error when trying to create an event (action/impression) for users with userID length greater than 200

Steps to reproduce:

1) create an experiment and buckets.
2) create an assignment to a user with userID greater than 200.
3) create an event (Action/Impression) for the same user and it gives 200 though the API doesnt record the event in database.

Expected be

[2017-03-21 20:49] longdogz commented on #204
Sorry that this wasn't documented better.  The first thing you might want to know is that, if you are able to get Wasabi installed on your local machine, you can get to the API docs (using Swagger) by cd'ing to your local wasabi repo and typing:

`./bin/wasabi.sh resource:api`

This is mentioned toward the end of the README (scroll down when you're on the top level wasabi page here on github).

Bu

[2017-03-21 20:55] ptrwtts commented on #204
Thanks for the prompt reply! That makes sense, and is what I suspected. Looking forward to doing a full investigation and kicking the tires on it very soon. Cheers!

[2017-03-21 20:55] #204 closed

[2017-03-21 21:39] ptrwtts opened #206 "How to give all users the winning variant?"
Hi. I read through the docs, and also #157, and wasn't 100% of sure of the answer to this...

If we run an experiment, and there's a clear winner, is it possible to "ramp up" the winning variant? This means giving it to all past and future users, including those who were previously assigned to a different bucket or null. Is it doable?

This is something we do regularly with our homegrown ab framew

[2017-03-21 21:55] longdogz commented on #206
Actually, the answer is yes.  For a while, the answer was "not exactly" because we had a bug.  But that bug has now been fixed.

Basically, say you have an experiment with 100% sampling rate and two buckets, A and B, with 50% allocation percentages.  Now you implement the test, both in Wasabi and using the Wasabi APIs from your app, and start the test.  If you leave it running for at least 7 days,

[2017-03-28 22:32] ptrwtts commented on #206
Awesome, thanks for the response.

What if the sampling rate is not 100%? Would you need to switch it to 100% to give all users the winner? Would those who were previously assigned 'null' be included? Or should we just use 100% if this is a technique we want to utilize?

Secondly, is any record kept when you make a change like this? One issue we've always had with ramping up is that it messes with

[2017-04-02 18:30] longdogz commented on #206
Sorry, I was using the 100% sampling rate in my example because the math is cleaner and, basically, because the sampling rate is not relevant to what happens when emptying a bucket.  The emptying of a bucket is simply applied to the users who were assigned to that bucket.

But if what you're really trying to achieve is a way to be able to ramp up the winning variant, eventually to ALL users, you a

[2017-04-02 21:36] ptrwtts commented on #206
Thanks for the detailed response!

You're 100% right. We essentially want the immediate impact of rolling out a winning variant, without waiting to update any code, and with clean historical data while we're at it. It's true that this power can encourage bad behavior (not immediately cleaning up experiment code), but often the realities of software organizations (competing priorities, users who ar

[2017-04-03 14:44] longdogz commented on #206
One more thing, to address your question about logging.  We do have logging of actions in Wasabi.  You can see them on the Tools->Logs tab (on the latest version).  These are actions like creating an experiment, starting an experiment, stopping an experiment, etc.  I'm not sure if we currently have the granularity of logging you want, but this might allow you to get some of the information you wan

[2017-04-04 22:22] sudheerkethireddy opened #218 "Able to create Actions without creating Impressions"
Hi Team,
             The wasabi current API allows user to create an Action for a user before creating an impression for the same user.

Expected Behavior: The API should throw error when someone is trying to create an Action for a user without creating the Impression

[2017-04-05 16:34] malish8632 opened #219 "Installation on Ubuntu got stuck"
After running commands as prescribed wasabi is not starting.
Running following command I see mysql and casandra are there.
[code]

As next step I try to start wasabi main process with following command:
[code]

Checking images with following command confirms the issue:
[code]

Any leads of what is wrong would be appreciated.

Thanks

[2017-04-06 17:02] tariqislam commented on #219
Hello @malish8632,

What version of Ubuntu are you using? Also, can you make sure that './bin/wasabi.sh bootstrap' completes successfully without any errors? Sometimes in the bootstrap process, something will not get installed, and then the './bin/wasabi.sh build' command will fail to build.

Tariq

[2017-04-13 08:27] PeterSenkel opened #227 "z-index of navigation"
Hi guys,

one thing that is a bit unhandy in my eyes is that the navigation menu sometimes gets hidden behind the experiment details. This is not an urgent bug but i think this can be easily sovled. Maybe you'd like to address that in the future.

![image](https://cloud.githubusercontent.com/assets/9192369/24996572/a1f7e58a-2033-11e7-8a93-f191f16c90cb.png)

regards
Peter

[2017-04-13 14:52] longdogz commented on #227
Thanks, Peter, that's a good point (and easily reproduced).  We'll put it on the list.

[2017-04-18 06:36] PeterSenkel commented on #227
awesome

[2017-04-27 22:10] mgauthier opened #232 "Running tests produces an error"
This occurs on OSX Sierra (10.12.4)

% ./bin/wasabi.sh start test
...
wasabi: building
unable to prepare context: unable to evaluate symlinks in context path: lstat /<local path>/wasabi-default/modules/main/target/wasabi-main-1.0.20170418213834-development: no such file or directory
wasabi: starting
5cab474bc720951b46e0b37eafad236866074137f331130b8478918195d7e92f
chill'ax error: not started

usage

[2017-04-28 21:24] jwtodd commented on #232
@mgauthier this is resolved by adding 'build' as a command option? eg:

  % ./bin/wasabi.sh build start test

that said, we still have this issue:

  % ./bin/wasabi.sh build start test stop
...
ls: wasabi-functional-test-*-SNAPSHOT-jar-with-dependencies.jar: No such file or directory
Error: Could not find or load main class org.testng.TestNG
ef4f2b9985aa
ea1bea1f34bb
1317c9314d49

[2017-05-03 17:12] MrSnoozles opened #236 "./bin/wasabi.sh start - Can't connect to MySQL on '172.18.0.3'"
Hello,

I have trouble installing Wasabi on Ubuntu 16.04 x64, using sudo user `wasabi`.

The bootstrap, reboot and build commands all ran without a single problem. When `./bin/wasabi.sh build` completed it said something like "completed successfully with 0 errors". However I can't get Wasabi to start. Upon trying to run `./bin/wasabi.sh start` I get the following error

[code]

Is that something a

[2017-05-03 18:58] mgauthier commented on #232
@jwtodd Running % ./bin/wasabi.sh test currently results in
[code]

In the test_api method of wasabi.sh I noticed the code is looking for
wasabi-functional-test-*-SNAPSHOT-jar-with-dependencies.jar, which does not exist, but wasabi-functional-test-*-jar-with-dependencies.jar does. If I remove the -SNAPSHOT part of the filename, tests seem to run..

[code]

[2017-05-04 13:12] AndreaSuckro commented on #236
I never ran into an issue like that, but it could be related to the mysql server configuration as described here: http://stackoverflow.com/questions/1420839/cant-connect-to-mysql-server-error-111. @jwtodd do you know if/how we could resolve such an issue with docker?

[2017-05-04 19:30] rafaelhbarros opened #237 "Maven Shade / Fat Jar"
Hello,

I'd like to ask what's the though process behind `./bin/build.sh` vs using the maven plugin [`shade`](https://maven.apache.org/plugins/maven-shade-plugin/).

Would this be a valuable addition to the code base?

[2017-05-08 16:15] tshrinivasan opened #239 "How to get wasabi without docker?"
I like to get the manual wasabi installation without docker.

I have a production mysql and cassandra clusters. How can I use them with wasabi?

Is there any config file for mentioning the mysql and cassandra  server details ?

Thanks.

[2017-05-18 04:32] harshitajain1994 opened #241 "Changing the default port"
Hi,
I had been trying to change the UI port from http://localhost:8080 to http://localhost:7000 according to one the issues raised earlier (https://github.com/intuit/wasabi/issues/163). I tried changing the  'apiHostBaseUrlValue' in /modules/ui/constants.json to http://localhost:7000 and then rebuilding it. But the port has not changed. I also tried changing apiHostBaseUrlValue" in /usr/local//con

[2017-06-08 16:13] unicast opened #255 "Get all experiments for particular user"
Checked out Wasabi API, seems like there is no way to do that, but probably I missed something?
If it doesn't exists, is it by intention or there is a limitation from the tech stack?

[2017-06-08 16:40] unicast commented on #255
Ok, got it, just need to make two calls:
GET /v1/experiments
POST /v1/assignments/applications/{applicationName}/users/{userID}
with names of experiments as an array

[2017-06-08 16:40] #255 closed

[2017-06-09 23:46] michaelgrosser opened #256 "Cannot Get Working with Remote Cassandra"
First off, the documentation around this needs significant improvement. Right now it is very unclear and requires tons of fuss just to get the basics working.

After that, I'm still unable to get the wasabi container running. I did the build, I did the migrations. All of that worked and the keyspaces and tables exist on my remote Cassandra cluster. Wasabi itself simply will not start successfully

[2017-06-12 20:31] michaelgrosser commented on #256
I resolved this.

There are two problems here:
1. The instructions are very unclear in that you need to build with remote credentials setup.
2. You can't actually build with remote credentials setup because there's a very ill-conceived unit test assertion looking for the default username and password for the MySQL DB.

[2017-06-12 20:31] #256 closed

[2017-06-14 07:32] jwtodd commented on #236
@AndreaSuckro sry just now seeing this :(

hmmm no i haven't seen this error before. i tried to echo the command-as-executed when an error occurs so that one can copy-paste the command directly to work through the error condition.

[2017-06-16 17:34] cbourdage opened #259 "Where to view event payloads?"
We have this implemented without too many issues and I'm trying to better understand all of the features around Wasabi in regards to the api. One thing I haven't made sense of just yet is what is the purpose of the event payloads that are optional with events. I can't find any place in the admin panel where this may show up or how to see this data in anyway.

Is there any information available on

[2017-06-16 23:29] iizrailevsky commented on #259
Glad Wasabi is working for you @cbourdage!

Event payloads can be passed with events. However they're presently not used for real-time Admin UI analytics. At Intuit, we do export these into our big data cluster via the pluggable export functionality and use these for offline analytics.

Hope this helps.

[2017-06-16 23:29] #95 closed

[2017-06-18 19:14] cbourdage commented on #259
Thank you for the explanation. Just wanted to make sure I wasn't missing something. I was assuming it was just available for custom offline reporting.

[2017-06-18 19:14] #259 closed

[2017-06-19 21:19] sudheerkethireddy commented on #239
Hi,
     This work is done by the below PR and merged to develop. please let us know if you have more questions

https://github.com/intuit/wasabi/pull/231

Thanks

[2017-06-26 12:11] AndreaSuckro commented on #116
There are basically two different sets of states: `Experiment.State` and `Assignment.Status`. The experiment states govern the life cycle of an experiment from the user's perspective: after the experiment has been started it is in the state `RUNNING` independent of the start and end date. Only in the interval between the start and the end date is it possible to get an assignment. If you try to gen

[2017-06-29 23:02] wukaiyuan commented on #163
I ran into this problem on my Mac and when doing the

command recommended by @longdogz
It would keep failing on grunt build due to some old libraries and the version of node used by brew (if you keep it updated) being incompatible.

I fixed this by going through every package in package.json and typing "npm install <package name>"

It updated each package to the latest and then when I ran grunt bu

[2017-06-30 15:09] longdogz commented on #163
I'm not sure if I mentioned this earlier, but the "npm install" and "bower install" install things locally that are not reinstalled when you do a grunt build, or even if you do another npm install or bower install (which are done by the wasabi.sh at times).  There are possible problems, over time, where there are inconsistencies between what you installed before and new things added to package.jso

[2017-07-05 15:58] ctrlaltdylan commented on #163
I've pinpointed what the problem seems to be, the `bower install` is not actually creating the `app/bower_components` directory and dependencies. I think it's related to https://github.com/bower/bower/issues/50

I'm trying to run through the bower dependencies and find which one is causing the the entire bower_components not to be created. Because there are no bower_components created, when you ru

[2017-07-07 17:27] brunoarakaki commented on #236
Probably your server instance is running out of memory. I was having the same problem when I was trying to run Wasabi on a 1GB instance. Checking the docker logs for the mysql:5.6 container got me into this [docker-library/mysql issue](https://github.com/docker-library/mysql/issues/3).

Increasing your instance memory to 2GB should solve this issue.

[2017-07-13 11:19] lakshyaranganath commented on #219
Hey guys, I seem to be running into a similar issue when I tried setting up wasabi on a new Ubuntu 16.04 machine and this is the error I ran into

[code]

Any help is greatly appreciated, thanks in advance.

[2017-07-14 08:09] varunachar commented on #219
Having the same issue as described by @lakshyaranganath

Any updates yet?

[2017-07-17 06:55] smn commented on #163
@ctrlaltdylan @longdogz I'm having the same issue. Any known work arounds yet?

[2017-07-17 17:21] youtoo2018 opened #264 "The wasabi-main can't start at all in windows 7,"
I have used feature/windows branch, try to install wasabi in my windows 7 computer. After everything is done, my sql and cassandra have been started, but the wasabi-main doesn't start at all. I have tried start wasabi-main individually. It still doesn't work. No errors, just it can't be started

![image](https://user-images.githubusercontent.com/30240043/28280790-e1bf20a2-6af2-11e7-987b-08eed5ead3

[2017-07-19 16:20] llambda opened #265 "Can't start on MacOS"
I did:

[code]

followed by:

[code]

and am seeing:

[code]

[2017-07-22 17:07] lfundaro commented on #156
Hi !

any updates on that question ☝️  ?

[2017-07-26 23:59] j3j5 commented on #219
I've got the same error on a clean Ubuntu 16.04. I don't have much experience with docker but the main error seems to be
[code]

[2017-07-27 00:36] j3j5 commented on #219
Ok, I'm not sure about the rest, but on my case it was an issue with writing permissions within the cloned folder. Once I got full writing permissions on the folder `./bin/wasabi.sh build start` worked like a charm.

[2017-07-27 15:51] yashmuni commented on #179
@djMax Were you able to get it working with 3 nodes cluster by any chance? I am trying the same thing and having issues. Also, could you please share how you specified 3 nodes in pom.xml if possible?

[2017-07-27 16:10] djMax commented on #179
In the end, we gave up on wasabi and built our own.

[2017-08-12 13:55] alexisrosuel commented on #219
Hi, I also have the same problem..

Running the previous steps in sudo mode didn't change anything.

Does someone experiences this ?

[2017-08-19 15:09] iwoork opened #275 "[ERROR] Failed to start cassandra container, please check the logs"
vanilla install on mac osx gets me this error and eventually with:

`Warning: Using a password on the command line interface can be insecure.
[ERROR] Cassandra container must be running or NODE_HOST environment variable must be set`

docker ps only shows mysql as running

[2017-08-19 20:51] iwoork commented on #275
`./bin/wasabi.sh remove `

Fixed this.

[2017-08-19 20:51] #275 closed

[2017-09-25 20:52] brendanjryan commented on #265
@llambda is this all of the output? can you try starting each service individually? I'm betting that the mysql container is having issues coming up

[2017-10-04 21:53] jlab55 opened #283 "Cannot build wasabi"
Hello,
I am having a mess of a time just building this project. After cloning the repo and then bootstrapping (everything ran fine there) the actual build itself does not work. (I am on Mac OS Sierra 10.12.6)

There were numerous API compatibility issues maven complains about. I resolved them in the root pom.xml via:
[code]

That gets me a little further in the build process (where modules are act

[2017-10-09 21:44] jlab55 commented on #283
@abhishekjain88 or @abheekd would you have any ideas as to why I cannot build wasabi? Seems like all the JARs from the previous modules are not showing up on the classpath when wasabi-repository-datastax is building. I really appreciate any help you can offer!!! Thanks, Jon

[2017-10-13 19:37] jlab55 commented on #283
I have found and fixed the problem. The referenced errors are extremely misleading. The issue is actually that I have two JVMs installed and this project and it's associated maven plugins are highly dependant on 1.8.0_144.

Bootstrapping correctly downloads them but if the JAVA_HOME was already set it does not override. I wrote a simple bash script to check during the build.sh execution to verify

[2017-10-13 19:37] #283 closed

[2017-10-21 19:43] mavimo opened #285 "Expose appropriate IP"
The script `bin/containers.sh` always ping `localhost` to identify if the wasabi is started.

Using `docker-machine` or remote docker instance we should use the appropriate IP define in `DOCKER_HOST` env variable.

[2017-10-23 15:06] bethge commented on #156
👍

[2017-10-24 15:47] bric3 opened #288 "Is it possible to use wasabi to rollout features ?"
Currently the UI indicates the bucket are kinda static and don't advertise as _progressive rollout_ mechanism. Yet it appears to be possible by manually manipulating the buckets.

[2017-10-24 16:00] bric3 opened #289 "Is it possible to assign an experience for visitors and keep it when logged in"
Currently the API looks like that, and always seem to take a `userId` :

[code]

However a visitor don't have a `userId`, and if this visitor either register or login he will have one, how to use assignment API to make sure this visitor will see the same experiment assignments ?

Technically the browser could send cookie, the app could send a custom value, but in the browser this cookie can change

[2017-10-24 16:08] bric3 opened #290 "Is it possible to assign specific userId to an experiment ?"
The segmentation view don't appear to be allowing to enter a `user id` (ours are UUID) list

[2017-10-24 16:11] bethge opened #291 "package step fails to find dist/plugins"
I was attempting to create the packages on a Ubuntu 16.04 running in Vagrant.

Executed commands:
[code]

The error:
[code]

Is there something I am missing? Are the generated packages still functional?

[2017-11-06 14:46] leeDav opened #293 "Cannot find `wasabi-main`"
Similar to: https://github.com/intuit/wasabi/issues/219 and https://github.com/intuit/wasabi/issues/283.

But this time I'm on Mac OS X (10.12.3).

Node: 8.9.0
npm: 5.5.1
nvm: 0.33.6
Java: 9.0.1

First time I try to install/bootstrap I get the below.
[code]

I've even tried using jenv to set my Java to 1.8 as suggested in https://github.com/intuit/wasabi/issues/283 but still nothing.

[2017-11-06 15:56] leeDav commented on #293
Just tried on an Ubuntu VM. Still couldn't get it to work, this time had this error;

[code]

[2017-11-09 02:42] bradphilips commented on #293
I'm having the same issue. Here's my logs:

[code]

[2017-11-10 02:45] bradphilips commented on #293
Hey guys, I found the issue -- see the referenced pull request. Thanks!

[2017-11-15 14:02] dyatko opened #301 "How to create new wasabi UI user"
Hey,

I'm struggling with creating a new user for wasabi UI.
![image](https://user-images.githubusercontent.com/31615495/32839734-a9971e82-ca15-11e7-9705-7de1fc7b374e.png)

The user guide or Github README say nothing about it.
How do I create a new user?

[2017-11-15 16:31] longdogz commented on #301
Hi,

It looks like there is a file at wasabi/modules/user-directory/src/main/resources/userDirectory.properties that contains the user names and passwords for the default user directory implementation.  In the default open source implementation of Wasabi, the only users known to the system are there.  Those users can login and those users can be given privilege (for example, in the screen you show

[2017-11-17 23:13] ariwbolton opened #302 "Hosted API docs"
There are hosted javadocs and a User Guide, but I can't seem to find any hosted API docs. (I know, there's `./bin/wasabi.sh resource:api`, but it's not working for me, at all. It actually also wrecks my current installation of wasabi, forcing me to clean install, so I'm staying away from it).

Regardless, it's standard for open-source projects to have easily accessible documentation of all kinds,

[2017-11-20 02:43] ariwbolton commented on #302
Looks like `https://localhost:8080/swagger/swaggerui` brings up the API docs. I'm not sure what the deal is with `resource:api`, but it never completed successfully for me prior to accessing.

If the API docs are built along with the `build` command (or at some other point), then perhaps a solution would be to simply put a reference to the above URL somewhere in the User Guide.

[2017-11-22 14:51] alexanderdean commented on #204
Was this one closed without updating the documentation? It's still a bit confusing. Suggestions:

1. Add a section to the user-guide on this with a screenshot of the API Calls section
2. Provide a more complex `curl` example to the `/assignments` endpoint in the "Call Wasabi" section of the user guide

[2017-11-22 15:13] alexanderdean opened #305 "Documentation talks confusingly of 3 common endpoints"
It seems like there are 2 common ones?

* `/assignments/`
* `/events/`

... I think the confusion is that the `/events/` endpoint is overloaded to receive impressions (`name == "IMPRESSION"`) *and* actions (`name != "IMPRESSION"`):

https://github.com/intuit/wasabi/blob/develop/modules/analytics-objects/src/main/java/com/intuit/wasabi/analyticsobjects/Event.java#L76-L79

[2017-12-11 19:58] jlab55 commented on #293
If you are still having this issue, I had similar symptoms but a different issue/solution. Wasabi doesn't play nice with Java 9 and I noticed the original poster has `Java: 9.0.1` in their environment.

Make sure you use the expected version of Java (`1.8.0_144`). I spent days trying to figure it out before I downgraded to a lower version of Java and it finally resolved all of the build issues.

S

[2017-12-12 21:59] jlab55 commented on #302
Is this what you are looking for? https://intuit.github.io/wasabi/v1/javadocs/latest/

[2017-12-19 23:19] mjhaller opened #308 "Impression/Action Plugins"
I don't see any docs on how to create an Impression/Action plugin.   We'd like to do that so we can write results to S3.  We'd love any examples, or guidance on what classes to look at.  Would submit a PR if we get a working example.

https://intuit.github.io/wasabi/v1/guide/index.html#extending-server-side-modules

[2018-01-29 18:42] yoshprogrammer commented on #308
+1 to this. Would love to see an example of how to pipe the data correctly via Wasabi's infrastructure.

[2018-01-31 20:29] deathweaselx86 opened #310 "Ability to force assign a user to a particular bucket for an experiment"
Could the ability to force assign a user to a particular bucket for an experiment be a thing? Even if it's just through a query parameter. That would really help.

[2018-02-05 15:36] mvisonneau opened #311 "bower sudo issue, failing build on Ubuntu Xenial"
Anyone else facing this on *Xenial* ? Using both `latest` and `1.0.20171128101048`

[code]

[2018-02-05 15:38] mvisonneau opened #312 "maven test issue failing build on Ubuntu Xenial"
Anyone else facing this on **Xenial** ? Using both `latest and `1.0.20171128101048`

[code]

[2018-02-05 21:23] yoshprogrammer commented on #179
I'm getting this error in Kubernetes on Azure as well.

[2018-02-06 18:05] mandoz opened #313 "Hadoop/Kafka Integration"
Is there a more detailed explanation of how to do the real-time streaming of data to Kafka for example?

There is this part in the documentation: https://intuit.github.io/wasabi/v1/guide/index.html#extending-server-side-modules

It is not very clear to me how to bind my class so it starts ingesting this data.

[2018-02-11 09:39] thegyro commented on #313
@mandoz Hi! As given in the link, there are two classes you create 1) One is your custom `IngestionExecutor` which extends the `AssignmentIngestionExecutor` provided by Wasabi. 2) Your custom Assignments module where you do the binding as described.

Inside the `execute()` method, you can submit your jobs. Let's say that you want to push the data to Kafka. The straightforward way of doing it is ju

[2018-02-12 21:21] hulkish opened #315 "Wasabi's plans for GDPR compliance?"
I should preface this with the fact that my knowledge of GDPR compliance is limited.

Some reading on the topic:
- https://www.superoffice.com/blog/gdpr-marketing/
- https://iapp.org/news/a/top-10-operational-impacts-of-the-gdpr-part-5-profiling/
- https://www.kudos-data.com/profiling-the-reality-of-the-gdr-impact/

Specific to Wasabi's segmentation features - I'd like to understand if there is an

[2018-02-13 09:18] mandoz commented on #313
@thegyro thanks a lot for the info!

[2018-02-13 09:18] #313 closed

[2018-02-15 19:58] yoshprogrammer commented on #179
Yeah, I've tried a ton of things here.

1. Upgrading the drivers to 3.4.0
2. Upgrading/redeploying Cassandra versions 2.1 & 2.2 to the cluster
3. Tweaking configs to see if I can get a connection live

I'm still stuck as I can manually cqlsh from my mac to the cluster, and I can use cqlsh once accessed into a shell in the Cassandra instance but Wasabi is failing to connect. Likely going to have to

[2018-02-16 20:57] deathweaselx86 commented on #310
Anything? This is a real problem for QA here.

[2018-02-20 17:43] marcuscavalcanti opened #316 "HikariCP as a connection pool implementation"
Hi Guys, thanks to provide this great tool for the community, we're doing some tests here at B2W and until now we're liking :)

Wasabi is currently using BoneCP as a connection pool implementation handler, but this project is deprecated. Some sources suggest to replace by HikariCP, that has best results in most of the benchmarks.

Do you have any plan to replace BoneCP in favor of HikariCP?

[2018-02-21 00:30] yoshprogrammer commented on #310
You could put together a simple python script or similar that would take in a user id and update the Cassandra database to force a user's bucket. @deathweaselx86

[2018-02-26 05:27] thegyro commented on #310
@deathweaselx86 Hi! Sorry for the late response. We do have a `PUT` API for this.

You can hit `/v1/assignments/applications/<application_name>/experiments/<experiment_label>/users/<user_id>`

With request body
[code]

This should force assign the specific user to the bucket of your choice.

[2018-02-26 18:59] deathweaselx86 commented on #310
Great! Thanks!

[2018-02-26 18:59] #310 closed

[2018-02-27 10:26] sdia commented on #301
Hello everyone,

I tried to update the password for the admin user without success.
I did rebuild and restart.

Could it be the password is hardcorded somewhere else ? Maybe a bug ?

[code]

[2018-02-27 14:24] dyatko commented on #301
@sdia have you cleaned before rebuild?

[2018-02-27 14:46] sdia commented on #301
Nope :D, did it and it worked now thanks!

[2018-02-27 14:53] sdia commented on #301
PR https://github.com/intuit/wasabi/pull/318

[2018-03-08 12:56] Sreemanth opened #319 "Copy experiment feature"

[2018-03-13 20:27] kevinwongolx commented on #204
I was trying to solve exactly the same problem, then I stumbled upon this post
https://github.com/intuit/wasabi/issues/289

[2018-03-20 11:30] jtatarik opened #322 "Illegal 'Access-Control-Request-Method' header"
The Wasabi server sets the `Access-Control-Request-Method` response header to an invalid value, and our client code complains when trying to parse the headers.

[code]

Wasabi puts multiple methods in the header, when in fact only single method is allowed here. See also  https://www.w3.org/TR/2008/WD-access-control-20080912/#access-control-request-method

[2018-03-21 23:19] MarkMarine commented on #17
I know this is super old, but coming to this as a new wasabi user the bootstrap opaque and fragile. For example, if you run this today on  a mac you'll install node ver 9.X and then many of the node modules will fail, things won't compile, etc.
Using something like nvm is ignored also, because the check for node is based on `brew list node` instead of actually just checking the node version on the

[2018-03-23 00:17] jgillick opened #323 "Cannot build on Mac High Sierra - Unable to find image 'wasabi-main:latest' locally"
I'm trying to build this on my Mac High Sierra laptop and running into issues.

I installed Java 1.8.0.144 and have it selected with jenv; as I noticed some other threads recommending. I also tried it with the system Java, with the same results.

Running `./bin/wasabi.sh bootstrap` worked without errors.

Running `./bin/wasabi.sh build start` ended in errors.  The two notable ones were:

[code]
an

[2018-03-23 10:37] mfcliu commented on #308
look at NoOpEventsIngestionExecutor , is this meet your requirement?

[2018-03-29 22:15] zzztimbo commented on #323
@jgillick can you verify that you're running java 8? I encountered the same error you did, but resolved it by uninstalling java 10.

[2018-04-03 05:31] fangorn88 opened #324 "Unable to start the cassandra container"
I am trying to run wasabi on CentOS, after building everything i am unable to start the wasabi service with the following error.

[root@###### wasabi]# ./bin/wasabi.sh start
[ERROR] Failed to start cassandra container, please check the logs
docker: Error response from daemon: open /var/run/docker/libcontainerd/containerd/b2c4004939ad484d3affc9c30d853a40480345103af95d1e1cb18295d239dd3a/init/shim-lo

[2018-04-03 06:42] fangorn88 commented on #236
Hi, I am getting the same error. Not able to start cassandra as well

[2018-04-04 00:49] Francescu commented on #236
I got the same issue. I upgraded my server from 1GB (to 4GB in my case) as suggested by @brunoarakaki

It fixed the problem

[2018-04-06 17:48] noppanit opened #325 "Analysis Graph is taking too long to load"
Hi,

We're seeing the issue with Analysis Graph is taking too long to load. I found out that the code is doing mysql query for each day and in our case it times out from the server.

https://github.com/intuit/wasabi/blob/develop/modules/analytics/src/main/java/com/intuit/wasabi/analytics/impl/AnalyticsImpl.java#L426

Not sure if there's a PR that's fixing this already? We did a fix by doing one qu

[2018-04-10 07:31] zhengfc commented on #305
How to define a impression name? For example see shopping cart or see product page

[2018-04-16 15:32] Nezz commented on #323
I have the same issue. `./bin/wasabi.sh bootstrap` installs Java 10:
[code]

[2018-04-17 10:28] originrobot opened #326 "Integrate wasabi with facebook's PlanOut?"
The assignment part of wasabi isn't that flexible, does anyone ever try to replace it with facebook's PlanOut? https://github.com/facebook/planout

[2018-04-30 23:15] jgillick commented on #323
@zzztimbo I'm using jenv to manage my java install and it looks like that version is set as the global version:
[code]

[2018-04-30 23:19] jgillick opened #329 "Running on AWS in ECS or Fargate?"
Has anyone successfully run this on ECS or Fargate? I'm wondering how I'd go about approaching this with wasabi. Any help is appreciated.

Thank you!

[2018-05-02 16:28] symadept commented on #265
I'm having the same issue.
Successfully tagged wasabi-main:mshai4-1525274647
Successfully tagged wasabi-main:latest
wasabi: starting
27b24b6714d55fef3f213a9ce275f8cafbed0f2116bd6d68dc7cc25554460793
chill'ax error: not started

usage: container.sh [options] [commands]

[2018-05-02 16:30] symadept commented on #256
I am having the same issue, @michaelgrosser can you elaborate what you did here?

Thank you very much

[2018-05-07 00:49] ottoborden commented on #323
I was also able to get past this error by uninstalling Java 10.

[2018-05-08 19:43] j33wang commented on #265
Having the same issue, anyone have more details on a workaround or how to go about debugging this?

It seems 'wasabi.sh status' is printing this out ("start:wasabi" calls "status") .

In 'wasabi.sh status', "wget -q --spider --tries=20 --waitretry=3 http://localhost:8080/api/v1/ping" isn't working.

I'm seeing:
`
$ wget --spider http://localhost:8080/api/v1/ping
`
`
Spider mode enabled. Check if r

[2018-05-09 03:02] brendanjryan commented on #265
👋 i'm not a maintainer but I can lend a hand if you are having issues.

Can you attach the logs from the docker containers (`wasabi`, `mysql`, `cassandra`)? Most problems I have encountered starting up on mac can be traced back to one of those underlying systems.

[2018-05-09 06:04] stefanrmeier commented on #265
Thanks @brendanjryan . I added the log files to the comment above. It seems that there is a problem with the injector.

[2018-05-09 08:36] Yaskier opened #330 "frontend tests not running and not even passing"
The frontend tests in the module 'ui', that I guess we should run by using `grunt test`, do not pass.

In fact I think that they are not even being launched since the only reference I've found in the whole code is in wasabi.sh:315  `#    ; grunt test); \`

I hope I am wrong and the tests pass. Can anyone tell me how to run them and where in the build phase are running?

[2018-05-09 20:16] j33wang commented on #265
My docker logs for the wasabi container looks the same, where the root issue is:

"Caused by: com.datastax.driver.core.exceptions.InvalidQueryException: Unknown identifier source_url"

I've found this to be broken by this commit - https://github.com/intuit/wasabi/commit/afbfd8fdb1f5072907c37b68a00e80bc55a19335  from 13 days ago.  I reverted my local setup back to its parent commit - https://github

[2018-05-09 21:38] symadept commented on #265
This is my error:

[*INFO*] *--- *maven-surefire-plugin:2.11:test *(default-test)* @
wasabi-experiment-objects* ---*

[*INFO*] Surefire report directory:
/Volumes/HDD/Projects/Wasabi/wasabi/modules/experiment-objects/target/surefire-reports

[*INFO*] Using configured provider
org.apache.maven.surefire.junitcore.JUnitCoreProvider

-------------------------------------------------------

 T E S T S

[2018-05-09 22:31] j33wang commented on #265
fwiw - My workaround was done on an Ubuntu box (it doesn't build on my Mac for some reason, haven't had a chance to look into why yet).

@symadept the exceptions you're seeing from the test cases shouldn't matter.  Looking towards the tail end of your output, it looks like your docker containers are up; and you can verify by running "docker ps" which should print out something like below:

:~$ doc

[2018-05-10 00:28] stefanrmeier commented on #265
@j33wang Thanks! I can confirm your analysis and the workaround. After rebuilding based on 1d2f066 it works.

[2018-05-10 00:32] stefanrmeier commented on #329
@jgillick I am working on this right now. Did you have any progress?

[2018-05-10 14:51] flaviomoringa opened #331 "Is Cassandra 3.11 and MySQL 8 supported?"
Hi guys, I'm deploying to production, using separated servers for MySQL and Cassandra.
Can I use Cassandra 3.11 and MySQL 8? Or should I stick with Cassandra 2.1 and MySQL 5.6 (the ones used on the dockers)?

It's just that since it's a new deploy I would prefer to have the latest stable versions...

[2018-05-12 22:30] gety9 opened #332 "Speed/Performance and Server Requirements"
Guys hi,

It's more a question than an issue.

1. Does using remote A/B testing server results in loss of performance/site speed comparing to solutions where A/B testing engine is directly on web site server?
(as i understand there is a delay because we have to make calls to wasabi API hosted on different server to makes decisions about which alternatives to show to which users, and we have to wai

[2018-05-15 15:31] flaviomoringa commented on #301
Because I will have the UI available to the outside i wanted to change all the users passwords... however after changing the passwords in modules/user-directory/src/main/resources/userDirectory.properties and doing a clean build it fails some tests:
com.intuit.wasabi.exceptions.AuthenticationException: Username does not exist: jabba_admin
com.intuit.wasabi.exceptions.AuthenticationException: Usern

[2018-05-16 23:04] rwadstein commented on #329
I managed to get a dedicated docker image working and ready to be deployed.  We use Codeship Pro to do our CI and have yet to get it in there to actually build and push to AWS ECR. So far this is what I have done and got it working:

1. Built a docker image whose sole responsibility is to `bootstrap` and `build` via an  entrypoint script.
2. entrypoint script would copy all relative build director

[2018-05-16 23:46] rwadstein opened #333 "API security question and assignment question"
No longer needed question answered.

[2018-05-17 02:07] stefanrmeier commented on #329
@rwadstein Would you mind to share your docker and docker-compose file?
@jgillick I was thinking of creating a docker file where I install the debian rpms. For mysql I will probably use RDS and a cassandra cluster.

[2018-05-18 15:52] #333 closed

[2018-05-24 16:11] raphaelb commented on #301
Hi @flaviomoringa,

I ran into that same problem, which I believe comes from the token tests that are used. I "solved" the problem by commenting out these tests. I'd like to find a way to actually resolve so I don't break the tests, but I haven't looked too hard into it yet.
~/wasabi/modules/user-directory/src/test/java/com/intuit/wasabi/userdirectory/impl/DefaultUserDirectoryTest.java
Line 57: te

[2018-06-04 14:47] mariusciziunas opened #335 "Missing Cassandra fields"
Hi dear Wasabi maintainers,

There are few fields in the code, but they are missing in Cassandra DB:
- experiment.source_url
- experiment.experiment_type
Are you aware of it? Do they need to be included or removed from both places?

[2018-06-06 15:27] benalman-toast commented on #265
I had the same problem on Ubuntu 16.04 (x64) in Virtualbox, and checking out `1d2f066` allowed me to get it to start. It would be nice if we didn't have to workaround this error in this way.

[2018-06-27 05:00] yinyuxuan2016 commented on #256
Having the same issue, @michaelgrosser would be very useful if you can provide more info!

[2018-06-27 07:29] yinyuxuan2016 commented on #265
---> 974cb2c7c819
Successfully built 974cb2c7c819
Successfully tagged wasabi-main:dongbiaozheng-1530076181
Successfully tagged wasabi-main:latest
wasabi: starting
i had the same problem on MAC,
chill'ax error: not started

usage: container.sh [options] [commands]

options:
  -v | --verify [ true | false ]         : verify installation configuration; default: false
  -m | --migration [ true | false

[2018-07-03 14:30] NunoPinheiro opened #339 "Frontend tools dependencies not installed if node is installed"
Was trying running the application in a machine that already has node, and led to other dependencies (e.g bower) not to be installed, and ended up having to install them manually:
https://github.com/intuit/wasabi/blame/master/bin/build.sh#L127

[2018-07-04 21:51] CEkeke opened #340 "chill'ax error: not started"
Tried installing on Ubuntu 64bit 16.04.4 LTS and after running ./bin/wasabi.sh start I get the chill'ax error.

[2018-07-06 09:21] mhyndle opened #341 "Cannot start wasabi container on Ubuntu 16.04"
I wanted to give Wasabi a try and install it locally. As I'm working on Windows at the moment, I have set up virtual machine with Vagrant with clean Ubuntu 16.04. I did steps from README to install Wasabi on Ubuntu, but it is failing on creating wasabi container. Bootstrap and build processes finished without errors. Cassandra and MySQL containers are running, but when trying to run `./bin/wasabi.

[2018-07-19 17:53] arteuryu commented on #324
follow,the same error

[2018-07-20 21:19] jeanvicelliGL opened #342 "AssignmentsResource.getBatchAssignmentForPage() is taken too long (2,300ms)"
<img width="1070" alt="screen shot 2018-07-20 at 2 51 13 pm" src="https://user-images.githubusercontent.com/30481446/43025685-fddc11c8-8c2f-11e8-8e25-c02c1b2abd38.png">

This transaction is taking too long to complete. Jvm has 1g xmx and looks it has enough resources.

[2018-07-23 08:16] Dracks commented on #179
The real problem is that cassandra uses the cassandra DataCenter name, and if that doesn't match, it cannot connect, this is why it says 3 available, no hosts tried. Wasabi is tring to found hosts of cassandra with the specified DataCenter name.

[2018-07-25 01:20] jillmoto commented on #265
Still getting the same issue on Mac OS 10.11 today.
Reverting to [1d2f066](https://github.com/intuit/wasabi/commit/1d2f066541b176ee84c00dc9516b370553b76a40) also worked for me. Thanks @j33wang

[2018-07-25 05:55] salauddinShaikh opened #343 "Getting error in wasabi.sh start:wasabi"
wasabi.sh build is successful, but I m getting error in start command

Nesss-Mac-mini:wasabi ness$ bin/wasabi.sh start:wasabi
wasabi: building
Sending build context to Docker daemon  53.22MB
Step 1/22 : from centos
 ---> 49f7960eb7e4
Step 2/22 : ENV WASABI_MODULE wasabi-main
 ---> Using cache
 ---> 676bffbd3126
Step 3/22 : ENV WASABI_UI_MODULE wasabi-ui-main
 ---> Using cache
 ---> e604a0f5c5a8
St

[2018-07-26 20:19] shaikhimran786 commented on #265
Mac OS High Sierra, version 10.13.4, Reverting to 1d2f066 also worked for me too, Thanks @j33wang.

[2018-07-27 16:31] lucacerone opened #346 "MySQL container won't start on Ubuntu 16.04"
Hi everybody.

I wanted to try wasabi, so I followed the steps explained to install Wasabi on my Ubuntu 16.04 machine.
I cloned the repo, run the bootstrap script and rebooted.

Next I tried to start wasabi with:
./bin/wasabi.sh build start

The cassandra container started with no issues, but the MySQL failed starting.

I tried again using the command "./bin/wasabi.sh start" but again MySQL contai

[2018-08-02 12:14] kstromeiraos opened #348 "Schema `wasabi` contains a failed migration to version 006"
Hi all,

Experiencing these errors trying to deploy Wasabi with remote Cassandra/RDS.

[code]

**OS: Ubuntu 16.04**

**Steps to reproduce**

1. Bootstrap Wasabi
[code]

2. Add this to `pom.xml`

[code]

3. Migrate data

[code]

4. Build and start wasabi

[code]

Thanks in advance!

[2018-08-02 20:33] kstromeiraos commented on #265
Thanks @j33wang , reverting to 1d2f066 worked for me too! This has been around for a while, would be nice to have a fix for it...

[2018-08-02 20:37] kstromeiraos commented on #348
I managed to "solve" this with this workaround.

- Build and start Wasabi on Docker containers (it should work)
[code]

- Dump/restore Wasabi MySQL Docker container data
[code]

After that, do the steps posted on the first post.

[2018-08-02 20:37] #348 closed

[2018-08-02 20:39] kstromeiraos commented on #343
`docker logs wasabi-main` will tell you more about the error.

[2018-08-03 14:06] shaikhimran786 commented on #324
any updates?

[2018-08-07 11:05] babakx commented on #323
@jgillick no success with jenv. I had to uninstall java 10 to get the build script running.

[2018-08-07 19:35] shaikhimran786 commented on #346
I am also facing the same issue.

[2018-08-13 10:19] markusborg opened #350 "API Authorization"
We are currently evaluating Wasabi and so far it seems like a very promising solution. At this stage we would like to check whether the API supports authentication?

From what we have seen so far and in the documentation, it seems that the API does not require any authentication.

[2018-08-13 11:32] tsteuwer-accesso commented on #219
I just ran into this exact same issue on OSX.

[code]

[2018-08-13 11:35] tsteuwer-accesso commented on #219
I forgot to mention, even after signing into the Docker application, we received:

[code]

This seems to be locked behind authentication now. Can one of the original authors please look at the authentication settings in the Docker Hub so that it's public and not behind a user/pass?

Thanks.

[2018-08-13 13:05] tsteuwer-accesso opened #351 "MacOS Error: wget"
The `./bin/wasabi.sh start` script will fail because `wget` is not an installed program on MacOS. I also tried to use the one that you can install via `brew` but it always fails. Is there a way we could instead use `curl`?

[2018-08-30 03:17] patchoak-abacus commented on #348
Had the same issue migrating to a remote database too. Turns out it occurs when MySQL has binary logging turned on. Custom defined functions and triggers couldn't be declared unless the flag 'log_bin_trust_creators = 1' is set.

[2018-09-04 22:31] #71 closed

[2018-09-04 22:33] #86 closed

[2018-09-05 08:40] zaidaquel commented on #346
me too..

[2018-09-05 10:06] cakraww commented on #343
Probably the same issue as this https://github.com/intuit/wasabi/issues/265 .
Basically checkout to 1d2f066 then build & start again.

[2018-09-11 23:26] pareshshah opened #352 "What was the criteria used to determine using Mysql for recording impressions and actions"
Since Wasabi already uses Cassandra data store to record the assignments, we would have also like the impressions and actions to be also recorded there. Specially knowing that there will be many calls to this and mysql being relational DB would be slow compared Cassandra from the "write" scalability perspective.

Any thoughts behind choosing MySql for impressions/actions will be greatly appreciate

[2018-09-13 19:10] chirag-nirmal-ck commented on #265
reverting to 1d2f066, rebuilding  and starting did not work for me on mac os 10.13.6

[2018-09-13 20:07] chiragnirmal commented on #265
I am still getting `chill'ax error: not started` even after reverting to `1d2f066` on mac os 10.13.6 (17G65).

[2018-09-17 05:07] engineerkushal commented on #163
Adding to @wukaiyuan's response, similar problem for me was related to bower.
[code]

Running the following commands in sequence solved the issue
[code]

[2018-09-21 16:01] etam-flipp commented on #350
Authentication can be done through the authentication filter:
https://github.com/intuit/wasabi/blob/develop/modules/api/src/main/java/com/intuit/wasabi/api/AuthenticationFilter.java#L51

This implementer can be replaced by your own implementer, in which you can customize the authentication:
https://github.com/intuit/wasabi/blob/develop/modules/api/src/main/java/com/intuit/wasabi/api/Authentication

[2018-10-25 21:21] sixty4bit commented on #346
This is a duplicate of #340

[2018-10-31 19:16] mjhaller opened #354 "intermittent 500 errors"
We are intermittently (0.03% of all requests) seeing these in production (`...` are redacted bits of our logs):
[code]

It seems clear that the [`experimentPojo.getCreated()`](https://github.com/intuit/wasabi/blob/afbfd8fdb1f5072907c37b68a00e80bc55a19335/modules/repository-datastax/src/main/java/com/intuit/wasabi/repository/cassandra/impl/ExperimentHelper.java#L60) is resulting in a null.  This po

[2018-11-18 06:55] hindog opened #356 "Race condition / non-determinism in /api/v1/experiments endpoint"
We are noticing non-determinism when querying the `/api/v1/experiments` endpoint with a `filter` defined.  When calling the endpoint sequentially, it returns the expected results, but when called concurrently, sometimes it returns the wrong or empty results.

I've written a quick-n-dirty python script to reproduce the behavior.  The variables at the top of the script should be modified to work in

[2018-11-21 23:02] ManuelCardonaArias opened #357 "How can I identify actions within the Assignment Data?"
I´ve downloaded my Assignment Data. I don´t know if I can identify within the experience code a part that tells me whether the individual completed the action (i.e. clicked a button).  My code looks like:

21ec6c9a-0e2b-47e6-a2c6-4d24c8da76c9	154222909547842322690137096886	PROD	I1	2018-11-14   12:58:16

Could someone tell me if I can find an action indicator within that code?

Thanks!

[2018-11-28 15:48] frutik opened #359 "Readme says "dockerized". Why so many changes on the host machine?"
It's impossible for me to start wasabi and not kill my machine. Why not distribute everything in a docker/composer ready-to-use stuff?

[2018-11-29 01:27] underscoretang opened #360 "Emptying Closed Buckets"
Is there any way to empty a closed bucket in wasabi. The option to empty the bucket disappears from the UI when a bucket has been closed.

[2018-12-04 02:33] varunachar opened #362 "Is this repo still supported?"
Just curious if Wasabi is still under active development/maintenance or has Intuit moved away from Wasabi to a newer AB testing tool?

[2018-12-07 00:10] ahmettahasakar commented on #329
It would be great if you can share it @rwadstein

[2018-12-07 09:32] ahmettahasakar commented on #163
Hello,

I had the initial "only swagger" problem. Now I got it to working. Thank you. However, when packing, it doesn't pack the ui. I get "only swagger" again. How do I make it package the ui as well?

Thank you

[2018-12-20 00:00] muratakbal commented on #323
TL;DR Enabling maven plugin solved the issue for me.
```$jenv enable-plugin maven```

---

I also had the same issue. Then I realized I had java 11 installed and set the java version under wasabi folder by running the command

[code]
But this didn't work. I found out jenv has a plugin for maven and enabled it by running the follwing:
[code]
now, the build works for me without uninstalling java 10

[2019-01-04 19:36] vinaybabunaidu commented on #341
facing the same error.

[2019-01-04 19:45] vinaybabunaidu commented on #219
facing the same issue.

[2019-01-10 18:06] JonathanGladwin opened #366 "Unrecognized property observed when running"
I have followed Wasabi Github page - https://github.com/intuit/wasabi , to install. After I installed, got localhost URL and run Swagger to test APIs.

First one I am trying with the following API,
POST : http://localhost:8080/api/v1/assignments/applications/DemoTest/experiments/ExpDemoTest/users/DemoPageUserID1?createAssignment=true&ignoreSamplingPercent=false&context=PROD&forceProfileCheck=false

[2019-02-12 17:22] themoffatt commented on #219
The fix for me was making sure I ran `build start` and not just `start`.  I had gone through a ton of trouble getting things working on an existing ubuntu server, then finally just built a fresh instance on DO and jumped the gun on the start command.  Everything is working now!

`% ./bin/wasabi.sh build start`

[2019-02-15 16:15] rharriso commented on #341
I was able to work around this. I check out what  name servers were being used

[code]

So I disconnected from the corporate vpn, then was able to start up the image.

[2019-03-15 12:34] shahbazahmad4467 commented on #163
grunt build
**ERROR**
Running "concurrent:dist" (concurrent) task
Warning: (node:21734) [DEP0022] DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead. Use --force to continue.

 **Aborted due to warnings.**

Worked fine with
grunt build --force

not sure why?

Thanks

[2019-03-15 13:07] mjhaller commented on #354
I believe this was due to a failing cassandra node, and we were regularly getting inconsistent reads  on the experiment definitions which was poisoning the cache. Once we removed that from our ring these went away

[2019-03-15 13:07] #354 closed

[2019-04-08 23:07] abdulelbieh commented on #346
have anyone reached a soultion for this issue? i am stuck in it too.

[2019-05-09 00:30] yihanlu1993 commented on #301
Hi everyone,
with Ubuntu 16.04 and commit 1d2f066 I still can not update the user password. I've tried to clean -> build -> start a number of times.
Are there any more updates on this issue?
Thanks

[2019-05-10 08:09] nutzhub opened #371 "Replace Cassandra with Dynamodb."
Hi, this is awesome project!. So I've got assignment to change Cassandra to AWS DynamoDB. Do you have guideline or any suggestions?

[2019-05-22 10:00] hashbash commented on #362
The same question:
Is this project still supported/under active development?

[2019-06-07 11:36] fanker commented on #341
facing the same error. Is there anyone can fix it ?

[2019-06-08 14:34] fanker commented on #346
So do I

[2019-06-10 02:41] fanker commented on #341
I have resolve it by update nameserver to 8.8.8.8 / 8.8.4.4 / 114.114.114.114.
And how to update nameserver in ubuntu ?
1. `vim /etc/resolvconf/resolv.conf.d/base`
insert
`nameserver 8.8.8.8`
or
`nameserver 114.114.114.114` (if your server in china)
to the first line
then exec `:wq` save it
2. exec `/etc/init.d/networking restart`
3. `cat /etc/resolv.conf`, you will find the new nameserver config

[2019-07-02 17:18] mhp0rtal opened #374 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => modules/cassandra-datastax/src/main/java/com/intuit/wasabi/cassandra/datastax/DefaultCassandraDriver.java: Line number => 339: API name => KeyStore:Second parameter should never be of type java.lang.String.<BR> File name => modules/cassandra-datastax/src/main/java/com/intuit/wasabi/cassandra/datastax/DefaultCassandraDriver.ja

[2019-07-07 05:08] lucacerone commented on #346
Many thanks!

[2019-08-13 19:30] andrewtBST commented on #346
@fanker I'm getting a `"mysql: command not found"` error when I run your number 3

[2019-08-15 14:51] Dragon-Of-Dojima commented on #236
what are the steps to do this?

[2019-08-19 16:32] kishorekkota opened #375 "[Questions] Can Wasabi run without Cassandra ?"
Hello,

Not sure if anyone tried this or not. I am interested in trying to see if this can be used as a FeaturFlag and A / B testing tool - with MYSQL ( Maria DB ). Is there any option to not use Cassandra as we do not have analytics requirement ?

[2019-08-19 22:34] mrids commented on #375
original code used mysql and redis so yes its possible, but will need to
reinstate that in a different branch if needed.

-mita

On Mon, Aug 19, 2019 at 9:32 AM Kishore Kota <notifications@github.com>
wrote:

[2019-08-20 15:51] Dragon-Of-Dojima opened #376 "How do I connect this to my website?"
I want to use Wasabi to have an admin test things such as captions, pictures, etc. to a small news-like site I run. I have Wasabi running on my virtual box, and can access the Wasabi UI from localhost. However, I need the admin I'm gonna have use it be able to go to wasabi(or something).mywebsite.com, and only the admin to be able to change portions of mywebsite.com using Wasabi as the testing fra

[2019-08-20 15:57] Dragon-Of-Dojima commented on #346
You have to stop MySQL service in the background, bc it will take up port 3306. Once you do that, you'll be good to go.

[2019-08-25 12:41] kishorekkota commented on #375
Thank you.

[2019-08-25 12:41] #375 closed, assigned to nobody

[2019-08-29 10:14] shoeffner commented on #376
This is a very old project, so I am not sure if you will still be able to get everything properly setup.

You need to put the modules/ui/dist directory (after a successful `grunt build`) to your domain (remember to change
[code]
as mentioned in modules/ui/README.md).
There is a problem with CORS when I try to run everything locally, so I need to be vigilant about the URLs (localhost works, 127.0.0

[2019-08-29 10:14] shoeffner commented on #362
As the most recent commit suggests, this is no longer under active development nor supported.

[2019-08-29 10:14] #362 closed

[2019-09-02 02:22] code-x-coffee commented on #371
@nut-abctech did you get anywhere with this?

[2019-09-03 01:00] nutzhub commented on #371
@utsav-upendra not yet. seem like this project discontinue

[2019-09-12 23:24] eddiepyang commented on #290
Was there any update to this? The documentation looks like there is a way, but it's unclear how:

https://intuit.github.io/wasabi/v1/guide/index.html#what-is-the-logical-expression-language

[2019-09-26 14:17] aminja opened #378 "Wasabi performance"
Is there any tuning to increase the operation rate per second (op/s) ?
Currently, the throughput of the API endpoints is considerably slow.

[2019-10-02 04:11] sashman-jaspin opened #379 "Setup Issues"
The setup instructions no longer work on a clean Ubuntu 16.04 install.  There are some node modules, such as yo, that require a higher version node than this sets up.  We used node 10 since we didn't want to get too far ahead of where this was written.  Additionally, the bootstrap does not install all the node_modules cleanly when run by a non-root user, however this causes permission problems dur

[2019-10-16 19:25] Dragon-Of-Dojima commented on #301
can we get an update? I would like to have it so I can be given authentication to log in with me@example.com and password examplePassword

[2019-10-16 22:59] #379 closed, assigned to nobody

[2019-10-21 14:03] #376 closed, assigned to nobody

[2019-10-21 14:12] Dragon-Of-Dojima opened #380 "Integrating Wasabi and user directories."
I want to have my Wasabi server accept actual email addresses and passwords to login.

How can one achieve connecting to Wasabi via LDAP, say, from Wordpress? I have a website which is maintained by Wordpress that I want to use Wasabi on to test things like article names, headlines, etc. I've seen a plugin that allows people to login to WP via LDAP but that's not applicable to my Wasabi setup.

Al

[2019-11-11 19:48] Dragon-Of-Dojima commented on #301
I'm trying to replace the scheme altogether by having Wasabi authentication/authorize from a MariaDB database. how might I do this? @longdogz

[2019-11-12 18:29] Dragon-Of-Dojima commented on #380
OK so if I implement `/modules/authentication/src/main/java/com/intuit/wasabi/authentication/impl/DefaultAuthentication.java`, apparently I can do it. But I've not done anything else with Java and databases; anyone have some insight?

[2019-11-19 20:42] Dragon-Of-Dojima opened #388 "getting the debug logs"
I'm trying to write a plugin to Wasabi, and when I try to use the tail command for the logs, I get an error that the modules/main/target/.... folder doesn't exist, and when I run it standard, I see:

`SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation`

How can I get a debug log? I desperately need it to get the plugin goi

[2019-12-05 14:33] #380 closed, assigned to nobody

[2019-12-18 06:54] DumbBreaker opened #389 "Max calculated fee doesn't match actual fee when sending"
Please delete me

[2020-01-29 08:04] nkhdiscovery commented on #346
guys, I noticed another possible scenario:
You have a local, or another container with, `mysqld` running on port 3306 for example. For some reason, your wasabi was not running on that time (assuming also using 3306 for mysql container), so you never got a port:3306 already in use.

Before, you had wasabi successfully running, so with `./bin/wasabi.sh start`  tries to get the previous `wasabi-mysql

[2020-02-04 09:11] igorgolovanov commented on #371
Amazon now supports Cassandra in their AWS Managed Cassandra Service  - https://aws.amazon.com/ru/mcs/

[2020-02-14 10:00] nutzhub commented on #371
this project stop maintain. I close this issue

[2020-02-14 10:00] #371 closed

[2021-05-11 12:59] imjuanleonard opened #418 "Is there any or any plan for helm charts deployment with this project"
Microservices has become one of the first choice for AI/ML projects, this is empowering the accountability of each services. And kubernetes is definitely first choice for microservice.

I am wondering if there is any helm chart/documentation to deploy this project in Kubernetes

[2022-05-25 14:40] rafaellyra commented on #418
Hi @imjuanleonard this project is no longer under active development or being supported